<!-- <nav>
  <a href="/">Pensioner Details</a>
  <a routerLink="getalldetails">Pensioner All Details</a>
  <a routerLink="edit-dtails">Edit Pensioner Details</a>
</nav> -->

<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <a href="/"><button class="btn btn-sm btn-outline-secondary" type="button">Pensioner Details</button></a>
    <a routerLink="getalldetails"><button class="btn btn-sm btn-outline-secondary" type="button">Pensioner All Details</button></a>
    <a routerLink="edit-dtails"><button class="btn btn-sm btn-outline-secondary" type="button">Edit Pensioner Details</button></a>
  </form>
</nav>
<router-outlet></router-outlet>